{% extends 'layout.html' %}

{% block content %}

    <style>
        .controller-box{
            text-align: center;
        }

        .buttons {
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            transition-duration: 0.4s;
            cursor: pointer;
        }

        .btn-takeoff {
            background-color: white;
            color: black;
            border: 2px solid #4CAF50;
        }

        .btn-takeoff:hover {
            background-color: #4CAF50;
            color: white;
        }

        .btn-land {
            background-color: white;
            color: black;
            border: 2px solid #008CBA;
        }

        .btn-land:hover {
            background-color: #008CBA;
            color:  white;
        }

        .btn-streamon {
            background-color: white;
            color: black;
            border: 2px solid #cc33ff;
        }

        .btn-streamon:hover {
            background-color: #cc33ff;
            color: white;
        }

        .btn-emergency {
            background-color: white;
            color: black;
            border: 2px solid #f44336;
        }

        .btn-emergency:hover {
            background-color: #f44336;
            color: white;
        }


    </style>

    <!-- 화면의 버튼을 전달하는 함수 -->
    <script>
        // onclick시 호출하는 함수 정의
        function sendCommand(command, params={}) {
            console.log({action: 'sendCommand', command: command, params: params})
            params['command'] = command    // dict 형식으로 저장됨
            // jQuery에서 Ajax를 이용한 POST 방식의 HTTP 요청을 구현한 메소드를 제공
            // $.post(URL주소[,데이터][,콜백함수]);
            // $.post().done() : 요청이 성공했을 때 실행될 코드를 지정
            $.ajax({
                type: "POST",
                url: "/web/command/",
                data: params,
                dataType: "json",
                success: function(json){
                    let result = json['status'];
                    if (result == 'success'){
                        console.log(command + " : success");
                    }
                },
                error: function(json){
                    let result = json['status'];
                    if (result != 'success'){
                        console.log(command +" : Error");
                    }
                }
            });
        };

        function snapShot(){
            $.post("/web/command/", {'command': 'snapshot'}).done(function (json) {
                $('#div-snapshot').show();    // 요소 보이게

                // 요소의 속성의 값을 가져오거나 속성 추가
                $('#snapshot').attr('src', $('#snapshot').attr('src') + '?' + Math.random());
            }, 'json')
        }

    </script>

    <div class="controller-box">
        <h1>Detacting and Tracking</h1>
    </div>

    <div class="controller-box">
        <div data-role="controlgroup" data-type="horizontal">
            <a href="#" class="buttons btn-takeoff" data-role="button" onclick="sendCommand('takeOff'); return false;">Take Off</a>
            <a href="#" class="buttons btn-land" data-role="button" onclick="sendCommand('land'); return false;">Land</a>
            <a href="#" class="buttons btn-streamon" data-role="button" onclick="sendCommand('streamon'); return false;">Video On</a>
            <a href="#" class="buttons btn-emergency" data-role="button" onclick="sendCommand('streamoff'); return false;">Video Off</a>
        </div>
    </div>

    <div class="controller-box">
        <h3>ADVANCED MODE</h3>

        <div class="btn-group">
            <button type="button" class="btn btn-info" onclick="sendCommand('faceDetectAndTrack');">START Detect And Track</button>
            <button type="button" class="btn btn-info" onclick="sendCommand('stopFaceDetectAndTrack');">STOP Detect And Track</button>
        </div>

        <br>
    </div>
    <br/>
    <div class="controller-box mb-10">
        <img src="/video/streaming" width="720px" height="460px"/>
    </div>
{% endblock content %}