{% extends 'layout.html' %}

{% block content %}
    <script>
        function getCmd() {
            $(document).ready(function() {
                $('td').click(function(){
                    var trindex = $('tr').index($(this).parent());
                    console.log("row :", trindex);
                    let params = {replay_id: trindex};
                    $.ajax({
                            type: "POST",
                            url: "/replay/play/",
                            data: params,
                            dataType: "json"
                    })
                });
            });
        }
    </script>
    <div class="container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>번호</td>
                    <td>제목</td>
                    <td>날짜</td>
                    <td>실행</td>
                </tr>
            </thead>
            <tbody>
                {% for i in data_list %}
                <tr>
                    <td>{{ i['id'] }}</td>
                    <td>{{ i['replay_name'] }}</td>
                    <td>{{ i['replay_date'] }}</td>
                    <td>
                        <button class="btn btn-primary" id="checkBtn" onclick="getCmd()">실행하기</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}